
body {
    background-image: url("../images/foodmart.png");
    background-repeat: no-repeat;
    background-size: 50% 30%;
    background-position: bottom; 
}
.jumbotron {
    background-image: url("../images/grocery1.jpeg");
    background-size:100% 100%;
    text-align: center;
    height: 300px;
}

img {
    max-width: 100%;
    height: auto;
}