<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css"/>   
</head>

<body class="bg-white text-dark">
    <div class="wrapper">
        <nav class="navbar navbar-white bg-success navbar-expand-lg">
            <a class="nav-link navbar-brand text-white" href="/"> &#10145; Homepage</a>
        </nav>
    </div>

    <div class="jumbotron text-white">
        <h2 class="display-4"></h2>
    </div>

    <div>
        <h1 class="display-4" style="font-family: serif; padding-left: 15px">Machine Learning</h1>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">       
            <div class="col-md-3">
                <h2>Code</h2>
            </div>
            <div class="col-md-9">
                <h4><a href="https://github.com/bpiffard/Capstone_Final_Group_Project/tree/main/04_Final" target="_blank" rel="noopener noreferrer">GitHub Link</a></h4>
            </div>
        </div>
        <hr>

        <div class="row">       
            <div class="col-md-3">
                <h2>Models</h2>
            </div>
            <div class="col-md-2">
                <h4><a href="https://github.com/bpiffard/Capstone_Final_Group_Project/blob/main/04_Final/4_RandomForest_DeepLearning_cust_member_card.ipynb" target="_blank" rel="noopener noreferrer">
                    Random Forest Classifier</a></h4>
                <p>Features: customer segments</p>
                <p>Target: member card</p>
                <p>Accuracy: 0.950-0.981</p>
            </div>
            <div class="col-md-2">
                <h4><a href="https://github.com/bpiffard/Capstone_Final_Group_Project/blob/gm_branch/01_ML_Combined/RandomForest_DeepLearning_cust_member_card.ipynb" target="_blank" rel="noopener noreferrer">
                    Deep Learning Neural Network</a></h4>
                <p>Features: customer segments</p>
                <p>Target: member card</p>
                <p>Accuracy: 0.970</p>
            </div>            
            <div class="col-md-2">
                <h4><a href="https://github.com/bpiffard/Capstone_Final_Group_Project/blob/gm_branch/01_ML_Combined/customer_RF_Regressor.ipynb" target="_blank" rel="noopener noreferrer">
                    Random Forest Regression</a></h4>
                <p>Features: customer segments</p>
                <p>Target: cost</p>
                <p>RMSE: 0.472</p>
            </div>            
            <div class="col-md-2">
                <h4><a href="https://github.com/bpiffard/Capstone_Final_Group_Project/blob/main/04_Final/4_%20store_multiple_linear_regression.ipynb" target="_blank" rel="noopener noreferrer">
                    Multiple Linear Regression</a></h4>
                <p>Features: store segments</p>
                <p>Target: store sales</p>
                <p>Accuracy: 0.910</p>
            </div>
            <div class="col-md-1" style="color: #2b6ae0">
                <h4>KMeans</h4>
                <br>
                <h4>PCA</h4>
            </div>
        </div>
        </div>
    </div>

    <div>
        <div class="col-md-12">
        <!-- <h2>Bubble chart of Machinge Learning Models</h2> -->
        <div class="container-fluid">
            <div class="row">       
                <div class="col-md-3">
                    <h2></h2>
                </div>
                <div class="col-md-9">
                    <a href="https://public.tableau.com/app/profile/gian.marcelin/viz/MLModelAccuracy/AccuracyofMLModelsDB?publish=yes" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/Accuracy of ML Model.png" alt="Accuracy of ML Models" class="center">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <br><hr>
    <div>
        <div class="col-md-12">
        <!-- <h2>Bubble chart of Machinge Learning Models</h2> -->
        <div class="container-fluid">
            <div class="row">       
                <div class="col-md-2">
                    <h2>Code Example</h2>
                </div>
                <div class="col-md-10">
                    <a href="https://github.com/bpiffard/Capstone_Final_Group_Project/blob/main/04_Final/4_ML_store_and_aggregate_functions.ipynb" target="_blank" rel="noopener noreferrer">
                        <img src="static/images/GroupAndAggregate.png" alt="GroupAndAggregate" class="center">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
</body>
</html>