
body {
    background-image: url("../images/foodmart.png");
    background-repeat: no-repeat;
    background-size: 50% 30%;
    background-position: bottom; 
}
.jumbotron {
    background-image: url("../images/grocery1.jpeg");
    background-size:100% 100%;
    text-align: center;
    height: 300px;
}

.outer {
    margin: auto;
    width:2000px;
    height:500px;
    /* background-color: #FAEBD7; */
    align-items:center;
}
  
.inner {
    margin-left: -50px; 
    margin-right: -50px;
    height:450px;
    /* background-color: #FFFAF0; */
    align-items:center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }